body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}


.hidden {
        opacity: 0;
        transform: translateY(20px); 
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }
    
.visible {
        opacity: 1;
        transform: translateY(0);
    }
    


.img1 {
    background-color: #000;
    margin-top: 40px;
    margin-left: 40px;
    width: 600px;
    height: 390px;
    border: 0px solid black;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.img1 img {
    transition: transform 0.3s ease;
    width: 600px;
    height: 400px;
}

.img1 img:hover {
    transform: scale(1.1);
}

#text1 {
    color: white;
    position: absolute;
    top: 20%;
    margin-left: -0.2%;
    text-align: center;
    pointer-events: none;

    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000
}

#text2 {
    color: white;
    position: absolute;
    top: 80%;
    right: 64.5%;
    text-align: center;
    pointer-events: none;

    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000
}

#text3 {
    color: white;
    font-size: 15px;
    text-align: center;
    top: 50%;
    right: 59%;
    position: absolute;
    pointer-events: none;

    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

#text4 {
    color: white;
    font-size: 15px;
    text-align: center;
    top: 5%;
    left: 5%;
    position: absolute;
    pointer-events: none;

    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

.img2{
    margin-top: -29.6%;
    margin-left: 670px;
    width: 600px;
    height: 200px;
    border: 0px solid black;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
}

.img2 img{
    transition: transform 0.3s ease;
    width: 600px;
    height: 400px;
}

.img2 img:hover {
    transform: scale(1.1);
}

#texto1 {
    font-size: 25px;
    color: white;
    position: absolute;
    top: 25%;
    left: 10%;
    text-align: center;
    pointer-events: none;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

#texto2 {
    color: white;
    position: absolute;
    top: 65%;
    left: 33%;
    text-align: center;
    pointer-events: none;

    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000
}

#texto3 {
    color: white;
    font-size: 15px;
    text-align: center;
    top: 5%;
    left: 5%;
    position: absolute;
    pointer-events: none;

    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

.img3 {
    margin-top: -13.4%;
    margin-left: 670px;
    width: 600px;
    height: 175px;
    border: 0px solid black;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
}

.img3 img{
    transition: transform 0.3s ease;
    width: 600px;
    height: 400px;
}

.img3 img:hover {
    transform: scale(1.1);
}

#textt1 {
    color: white;
    position: absolute;
    text-align: center;
    pointer-events: none;
    font-size: 17px;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

#textt2 {
    color: white;
    position: absolute;
    text-align: center;
    pointer-events: none;
    font-size: 17px;
    top: 72%;

    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

#textt3 {
    color: white;
    position: absolute;
    text-align: center;
    pointer-events: none;
    font-size: 17px;
    top: 5%;
    left: 5%;

    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

.img4 {
    margin-top: 2%;
    margin-left: 40px;
    width: 400px;
    height: 200px;
    border: 0px solid black;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
}

.img4 img {
    width: 400px;
    height: 300px;
}

#texta1 {
    margin-top: 1.5%;
    margin-left: 35.5%;
    color: white;
    position: absolute;
    text-align: center;
    cursor: pointer;
    font-size: 22px;

    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;

    transition: all .2s;
}

#texta2 {
    margin-top: 16%;
    margin-left: 36%;
    color: grey;
    position: absolute;
    text-align: center;
    font-size: 15px;

    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

#list1 {
    margin-top: 8%;
    margin-left: 33%;
    color: greenyellow;
    position: absolute;
    text-align: center;
    cursor: pointer;
    font-size: 18px;

    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;

    transition: all .2s;
}

#list2 {
    margin-top: 12%;
    margin-left: 33%;
    color: greenyellow;
    position: absolute;
    text-align: center;
    cursor: pointer;
    font-size: 18px;

    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
    transition: all .2s;
}

#texta1:hover {
    color: greenyellow;
}

#list1:hover {
    color: green;
}

#list2:hover {
    color: green;
}

hr {
    margin-top: 21.5%;
    margin-left: 40px;
    margin-right: 40px;
}

#hr1{
    margin-top: 2%;
    margin-left: 40px;
    margin-right: 40px;
}

.img5 {
    margin-top: 1%;
    margin-left: 40px;
    width: 400px;
    height: 200px;
    border: 0px solid black;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
}

.img4 img {
    width: 400px;
    height: 300px;
    
}

#textb1 {
    margin-top: 0.7%;
    margin-left: 35.5%;
    color: white;
    position: absolute;
    text-align: center;
    cursor: pointer;
    font-size: 22px;

    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;

    transition: all .2s;
}

#textb1:hover {
    color: greenyellow;
}

#listA1 {
    margin-top: 6%;
    margin-left: 33%;
    color: greenyellow;
    position: absolute;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;

    transition: all .2s;
}

#listA1:hover {
    color: green;
}

#listA2:hover {
    color: green;
}

#listA2 {
    margin-top: 10%;
    margin-left: 33%;
    color: greenyellow;
    position: absolute;
    text-align: center;
    cursor: pointer;
    font-size: 18px;

    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;

    transition: all .2s;
}

#textb2 {
    margin-top: 15%;
    margin-left: 35.5%;
    color: grey;
    position: absolute;
    text-align: center;
    font-size: 15px;

    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;

    transition: all .2s;
}

#hr2 {
    margin-top: 20%;
    margin-left: 40px;
    margin-right: 40px;
}