body {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}


.visible {
    opacity: 1;
    transform: translateY(0);
}


.menu-central {
    background-color: green;
    box-sizing: border-box;
    border-bottom: 1px solid white  ;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    
}

.menu-central  a{
    margin: 20px;
    padding: 1px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: all .2s;
}

.menu-central a:hover{
    text-decoration: underline;
    transform: scale(1.2);

}

.menu-central img{
    margin-right: 95%;
    background-color: #aaa;
    border-radius: 50%;
    margin-top: 5px;
    width: 43px;
    height: 43px;
    overflow: hidden;
    position: absolute;
    object-fit: cover;
}

body, .menu-central {
    margin: 0;
    padding: 0;
}



.img0 img {
    width: 100%;
    position: relative;
}

#text45{
    color: #000000;
    text-shadow:   0 0 70px rgb(0, 255, 34);
    position: absolute;
    text-align: center;
    margin-top: -10.8%;
    margin-left: 16%;

}

.img1 img{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 600px;
}
.img1 h1{
    position: absolute;
    top: 45px;
    right: 55px;
    font-size: 40px;
    color: #98FB98;
    text-shadow:   0 0 40px rgb(1, 197, 1);
}

.img1 h2{
    position: absolute;
    top: 125px;
    right: 1px;
    font-size: 40px;
    color: white;
}

.img1 h4{
    position: absolute;
    top: 350px;
    right: 1px;
    font-size: 20px;
    color: white;
}

.img2 img{
    width: 100%;
    height: 400px;
}

.img2 h1{
    color: white;
    position: absolute;
    top: 100px;     
    font-size: 40px;
    right: 100px;
    left: 100px;
    text-align: center;
}
.img2 h2{
    color: #90EE90;
    position: absolute;
    top: 150px;
    font-size: 40px;
    right: 100px;
    left: 100px;
    text-align: center;
}

.texto {
    margin-right: 75px;
    margin-left: 75px;
    color: white;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    font-size: 24px;    
}

.texto i{
    font-size: 60px;
    position: relative;
    z-index: 2;
    display: inline-block;
}

.texto #iconePasta {
    margin-left: 28%;

}

.texto #upload {
    margin-left: 31.8%;
}

.texto #projetos{
    color: black;
    font-size: 20px;
    margin-left: 57.8%;
    position: absolute;
    top: 110px;
}

.texto #textoprojeto{
    top: 169px;
    color: grey;
    font-size: 18px; 
    margin-left: 57.5%;
    position: absolute;
}

.texto h1{
    color: black;
    font-size: 20px;
    top: 1200px;
}

.texto h2{
    color: grey;
    font-size: 18px; 
    top: 85px;
}

.texto h3{
    top: 160px;
    color: grey;
    font-size: 18px; 
    margin-left: 27%;
    position: absolute;

}

.texto h4{
    color: black;
    font-size: 20px;
    margin-left: 27%;
    position: absolute;
    top: 115px;
}

.img3 img{
    margin: 0;
    width: 100%;
    
}

footer {
    width: 100%;
    color: #f5f5f5;
}
footer img {
    width: 100%;
    border-radius: 50%;
    box-shadow:  10px 0px 40px rgb(206, 206, 206);;
}

.footerLink {
    text-decoration: none;
}

#footer-content {
    background-color: rgb(3, 68, 3);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer-content p {
    font-weight: bold;
    font-size: 20px;
}

#footerContatcs h1{
    margin-bottom: 0.75rem;
}
#footerContatcs p{
    font-weight: bold;
    font-size: 27px;
    margin-top: 40px;
}

#socialMidia {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

#socialMidia .footerLink {
    display: flex;  
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all .4s;
}

#socialMidia .footerLink i {
    font-size: 90px;
}

#socialMidia .footerLink:hover {
    opacity: 0.8;
}

#instagram {
    color:  #ff2992;
    border-radius: 12px;
    font-size: 40px;
    transition: all .3s;
}

#facebook {
    color: #4267b3;
    border-radius: 12px;
    font-size: 40px;
    transition: all .3s;
}

#whatsapp {
    color: rgb(0, 255, 0);
    border-radius: 12px;
    font-size: 40px;
    transition: all .3s;
}

#twitter {
    color: rgb(0, 195, 255);
    border-radius: 12px;
    font-size: 40px;
    transition: all .3s;
}

#instagram:hover, #facebook:hover, 
#whatsapp:hover, #twitter:hover {
    transform: scale(1.3);
}

#footerCopyright {
    background-color: #000; 
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

#footerEmail {
    display: flex;
    flex-direction: column;
}

#footerEmail {
    color: var(--color-neutral-0);
}

#footerEmail h3 {
    margin-top: 40px;
    font-size: 27px;
}

#footerEmail p {
    margin: 0px 0px 20px;
    font-weight: 700;
}

#inputEmail {
    color: white;
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#inputEmail input {
    color: var(--color-neutral-0);
    all: unset;
    padding: 0.75rem;
    border-radius: 10px;
    background-color: var(--color-neutral-0);
    width: 100%;
}

#inputEmail button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#inputEmail button:hover{
    opacity: 0.8;
}

#inputNumber {
    color: white;
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;

}


#inputNumber input {
    color: var(--color-neutral-0);
    all: unset;
    padding: 0.75rem;
    border-radius: 10px;
    background-color: var(--color-neutral-0);
    width: 100%;
}

#inputNumber button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#footerContatcs img {
    display: inline-block;
    width: 90px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

#footerContacts img:hover {
    transform: scale(1.1);
}


.blog h4 {
    margin-bottom: 10px;
    font-size: 27px;
}
.blog ul {
    list-style: none;
    padding: 0;
}
.blog ul li {
    margin-bottom: 10px;
}
.blog ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 23px;
    transition: color 0.3s;
}
.blog ul li a:hover {
    color: blue; 
}
.blog ul li i {
    margin-right: 8px;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 10px;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.modal-content {
    border: none;
    margin: 1% auto;
    padding: 0px;
    width: 75%;
}

.modal.show {
    display: block;
    opacity: 1;
}

.modal.hide {
    display: block;
    opacity: 0;
}

#myBtn {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
    border: none;
    cursor: pointer;
}

#myBtn:hover {
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 38px;
    font-weight: bold;
    margin-right: 20px;
    transition: all .1s;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.2);
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 6px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: white;
    transform: scale(1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

#mainBtn {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: green;
    border: none;
    cursor: pointer;
    transition: all .2s;
}

#mainBtn:hover {
    transform: scale(1.5);
    text-decoration: underline;
}

#user {
    color: white;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 30px;
}

#login-tela {
    background-image: url('../imagens/agricultura-regenerativa-planta.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.tela-login {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../imagens/agricultura-regenerativa-planta.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 300px;
    top: 50%;
    margin-left: 27%;
    margin-right: 27%;
    padding: 80px;
    border-radius: 15px;
    color: white;
    box-shadow: 0px 0px 40px black;
}

.tela-login input {
    padding: 10px;
    width: 290px;
    height: 30px;
    border: none;
    outline: none;
    font-size: 15px;
}

.tela-login h2 {
   color: white;
   font-size: 40px;
}

.tela-login button {
    text-align: center;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
    transition: all .3s;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    transition: all .3s;
    width: 310px;
    margin-left: 2px;
}

.tela-login button:hover {
    transform: scale(1.1);
}

#esqueceuSenha {
    color: #8B008B;
    background-color: transparent;
    position: relative;   
}
